@font-face {
    font-family: 'LeagueGothic';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/League_Gothic-webfont.woff') format('woff'),
    url('fonts/League_Gothic-webfont.ttf') format('truetype'),
    url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('fonts/SourceSansPro-Light-webfont.eot');
    src: url('fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/SourceSansPro-Light-webfont.woff') format('woff'),
    url('fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
    url('fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 270px;
    border: none;
}

body {
    font-family: SourceSansProLight, Verdana, Arial, sans-serif;
    font-size: 14px;
}

header h1, nav, nav li {
    display: inline-block;
}

header {
    background-color: #5786cc;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    z-index: 100;
    border-bottom: 0px solid #C10021;
}

header h1 a {
    font-family: LeagueGothic, Verdana, Arial, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    position: absolute;
    top: 8px;
    left: 35px;
}

#version {
    color: white;
    font-size: 10px;
    position: relative;
    top: 12px;
    left: 122px;
}

nav {
    /*position: absolute;*/
    margin-right: 150px;
    float: right;
    padding: 15px;
    top: 32.8%;
    left: 12.5%;
}

nav li a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    margin-right: 12px;
    padding: 5px;
}

nav li a:hover {
    background-color: #1c4371;
    border-radius: 3px;
}

.current {
    background-color: #1c4371;
    border-radius: 3px;
}

#adbanner {
    margin-top: 50px;
    height: 7px;
    background-color: #8bb5ff;
    border-bottom: 1px solid #c3c3c3;
}

#ad {
    width: 728px;
    margin: auto;
}

#adbanner a {
    display: inline-block;
    border: 1px solid #c3c3c3;
    height: 90px;
    width: 728px;
    margin: 16px auto;
    color: #6b6b6b;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    background-color: #d1d1d1;
}

#adbanner a:hover {
    border: 1px solid #a7a7a7;
    /*text-decoration: underline;*/
    color: #3f3f3f;
    background-color: #cacaca;
}

#adbanner a p {
    text-align: center;
    margin-top: 35px;
}

section {
    width: 1000px;
    margin: auto;
}

#secwrapper {
    /*background: url('images/bg.gif') fixed;
    background-color: #f47771;*/
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

article {
    width: 270px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #c8c8c8;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0 2px 3px #ccc;
    background-color: white;
    *display: inline;
    zoom: 1;
}

#sponsors, .rightcl {
    margin-right: 0px;
}

.readmore {
    background-color: #5786cc;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
}

.readmore:hover {
    background-color: #bfe7ff;
}

article p {
    margin-bottom: 7px;
}

#photobox img {
    margin: 5px 4px 6px 6.5px;
    border: 1px solid black;
}

#sponsors a {
    color: #6b6b6b;
    text-decoration: none;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    background-color: #d1d1d1;
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 5px 4px 6px 7px;
    border: 1px solid #c3c3c3;
}

#sponsors a p {
    margin: 50px auto;
    width: 125px;
    text-align: center;
}

#sponsors a:hover {
    border: 1px solid #a7a7a7;
    /*text-decoration: underline;*/
    color: #3f3f3f;
    background-color: #cacaca;
}

#featured {
    position: relative;
}

#featuredico {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background-color: #5786cc;
    height: 28px;
    color: white;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0 0 12%;
}

/* loginpage css */

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1c4371;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #5786cc;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #1c4371;
    text-decoration: none;
    font-weight: bold;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}
